{% extends'layout.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages  %}
{% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
{% endwith %}

<form action="/add_contact" method="POST">

    <input ="text" name="year" placeholder="Year">
    <input ="text" name="month" placeholder="Month">
    <input ="text" name="day" placeholder="Day">
    <input ="text" name="hour" placeholder="Hour">
    <button type="submit">
        Save
    </button>

</form>

<table>
    <thead>
        <tr>
            <td>Year</td>
            <td>Month</td>
            <td>Day</td>
            <td>Hour</td>
            <td>Operations</td>
        </tr>
    </thead>
    <tbody>
    {% for value in date %}
        <tr>
            <td> {{ value.1 }}</td>
            <td> {{ value.2 }}</td>
            <td> {{ value.3 }}</td>
            <td> {{ value.4 }}</td>
            <td>
                <a href="/edit/{{ value.0 }}">Edit</a>
                <a href="/delete/{{ value.0 }}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}