{% extends 'layout.html' %}
{% block body %}

<div class="row">
    <div class="col-md-3">
        {% with messages = get_flashed_messages() %}
        {% if messages  %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
            <form action="/add_value" method="POST">
                <div class="form-group">
                    <input ="text" name="year" placeholder="Year" class="form-control">
                </div>
                <div class="form-group">
                    <input ="text" name="month" placeholder="Month" class="form-control">
                </div>
                <div class="form-group">
                    <input ="text" name="day" placeholder="Day" class="form-control">
                </div>
                <div class="form-group">
                    <input ="text" name="hour" placeholder="Hour" class="form-control">
                </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Add
                    </button>
            </form>
        </div>
    </div>
    <div class="col-md-5">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Year</td>
                    <td>Month</td>
                    <td>Day</td>
                    <td>Hour</td>
                    <td>Price</td>
                    <td>Option</td>
                </tr>
            </thead>
            <tbody>
                {% for value in date %}
                <tr>
                    <td> {{ value.1 }}</td>
                    <td> {{ value.2 }}</td>
                    <td> {{ value.3 }}</td>
                    <td> {{ value.4 }}</td>
                    <td> {{ value.5 }}</td>
                    <td>
                        <a href="/delete/{{value.0}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}